{% load static %}
<style>
  #logo {
    height: 70px;
    width: 60px;
  }
</style>
<footer class="main-footer dark">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div id="block-archofooterfirst"
          class="block drp-block item fotcont block-block-content block-block-contente86023ef-b28f-43a8-a794-cf74989c8155 no-title">
          <div class="item abot">
            <div class="logo-footer mb-20">
              <a href="" class="logo">
                <img id="logo" alt="logo" data-entity-type="file"
                  data-entity-uuid="c016fc6e-4c18-41c0-9c48-115cb0741875" src="{% static 'web/images/logo2.png' %}"
                  width="50" height="20" loading="lazy" />
              </a>
            </div>
            <p>Our team takes over everything, from an idea and concept development to realization.</p>
            <div class="social-icon">
              <a href="#0"><i class="fab fa-facebook-f"></i></a>
              <a href="#0"><i class="fab fa-twitter"></i></a>
              <a href="#0"><i class="fab fa-behance"></i></a>
              <a href="#0"><i class="fab fa-pinterest-p"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-2 offset-lg-1">
        <div id="block-archofootersecond"
          class="item usful-links block drp-block item fotcont block-block-content block-block-content52eb76c4-1798-4173-8a2e-3113e62dad01"
          data-title="USEFUL LINKS">
          <div class="fothead">
            <h6>QUILK LINK</h6>
          </div>
          <ul>
            <li><i class="fas fa-chevron-right"></i> <a href="{% url 'web:index' %}">Home</a></li>
            <li><i class="fas fa-chevron-right"></i> <a href="{% url 'web:about' %}">About Us</a></li>
            <li><i class="fas fa-chevron-right"></i> <a href="{% url 'web:project' %}">Projects</a></li>
            <li><i class="fas fa-chevron-right"></i> <a href="{% url 'web:service' %}">Services</a></li>
            <li><i class="fas fa-chevron-right"></i> <a href="{% url 'web:update' %}">Updates</a></li>
            <li><i class="fas fa-chevron-right"></i> <a href="{% url 'web:career' %}">Career</a></li>
            <li><i class="fas fa-chevron-right"></i> <a href="{% url 'web:contact' %}">Contact</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2">
        <div id="block-archofooterthird"
          class="fotcont block drp-block item block-block-content block-block-content3afe276b-5028-4957-971d-2f85a27eb6d1">
          <div class="fothead">
            <h6>CALL</h6>
          </div>
          <p><a href="tel:+97143511152"> +97 143 511 152</a></p>
          <!-- <p>+1(000)987654321</p> -->
        </div>
      </div>
      <div class="col-lg-2">
        <div id="block-archofooterfour"
          class="block drp-block item fotcont block-block-content block-block-contentf6b6500a-7576-4439-b1bf-1443cf0d4549">
          <div class="fothead">
            <h6>WRITE</h6>
          </div>
          <p><a href="mailto:info@asmdecor.com">info@asmdecor.com</a></p>
        </div>
      </div>
      <div class="col-lg-2">
        <div id="block-archofooterfive"
          class="block drp-block item fotcont block-block-content block-block-contentc18ccaa3-4d9f-4615-9ad7-f3d6d0b81b3b">
          <div class="fothead">
            <h6>VISIT</h6>
          </div>
          <p>P.o Box: 128241,
            Dubai- U.A.E</p>
        </div>
      </div>
    </div>
  </div>
  <div class="sub-footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="text-left">
            <p>© 2023 Asm decor - Developed by <a href="https://gedexo.com/">Gedexo Technologies</a></p>
          </div>
        </div>
        <!-- <div class="col-lg-4">
          <div class="text-right">
            <span>Powered by <a href="https://www.drupal.org/">Drupal</a></span>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</footer>